/* Aquí abajo importo la fuente que voy a utilizar para las palabras de mi página */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed&family=Roboto:wght@100&display=swap');

/* Todas las reglas que declare dentro del *, van a afectar a todos los elementos del documento. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Dentro de :root creo variables de colores para luego utilizarlas */

:root{
    --fondoPieCabecera-color: #0a9396;
    --fondoSeccion-color: #94d2bd;
    --letras-color: rgb(255, 255, 255);
}

/* El atributo de clase HTML se utiliza para definir estilos iguales para elementos con el mismo nombre de clase. Entonces, todos los elementos HTML con el mismo atributo de clase obtendrán el mismo estilo. Por ejemplo, las clases que cree yo son: cabecera, seccion, pie, etc. */

.cabecera{
   
    background-image: url(../media/back.jpg);
    background-color: var(--fondoPieCabecera-color);
    background-blend-mode: luminosity;

    position: fixed;
    top: 0;
    width: 100%;
}

.seccion{
    color:var(--letras-color);
    background-color: var(--fondoSeccion-color);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    margin-top: 2rem;
    margin-bottom: 6rem;
}



.pie{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content:space-evenly;
    align-items: center;

    background-image: url(../media/back.jpg);
    background-color: var(--fondoPieCabecera-color);
    background-blend-mode: luminosity;

    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    border-radius: 10px;
    align-items: center;
}


.menu li:hover{
    background-color:rgba(247, 247, 247, 0.5);
    background-blend-mode: luminosity;
    transition: ease-in 0.5s;
}

.menu a:hover{
    color: rgb(14, 14, 105);
    text-decoration: underline;
    text-decoration-color: rgb(14, 14, 105);
    transition: ease-in 0.5s;
}

/* Al declarar las reglas CSS utilizando la palabra clave del elemento afectamos cada elemento de la misma clase en el documento. Por ejemplo, yo declare reglas utilizando las palabras claves de los elementos a, h1, li, etc. */

a{
    color:antiquewhite;
    text-decoration: none;
}

h1{
    text-decoration: underline;
}

li{
    list-style-type: none;
    padding: 10px;
}

p{
    max-width: 850px;
}